yarn.lock
.DS_Store
node_modules/
/vue_frontend/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/test/unit/coverage/
/test/e2e/reports/
selenium-debug.log

vue_frontend/node_modules

tufts_gt_wisc_configuration.json

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

# dynamic data
shared/static/d3m_writeable/data/
shared/static/data/
shared/static/problem_desc/*.json

shared/static/learningData.csv
shared/static/thumbnail_*
shared/static/timeseries_*

shared/static/local_testing_data/LL1_3476_HMDB_actio_recognition/*
!shared/static/local_testing_data/LL1_3476_HMDB_actio_recognition/load.sh
shared/static/local_testing_data/31_urbansound/*
!shared/static/local_testing_data/31_urbansound/load.sh
shared/static/local_testing_data/60_jester/*
!shared/static/local_testing_data/60_jester/*.sh

shared/output/*
!shared/output/README.txt

shared/splitter.pkl

# voder and python
shared/static/local_testing_data/voder/*.json
!shared/static/local_testing_data/voder/cars.json
shared/static/local_testing_data/voder/*.csv
!shared/static/local_testing_data/voder/cars.csv

# layouts
vue_frontend/src/store/settings/layouts.json
vue_frontend/src/store/settings/layouts_task_one.json

# augmentation dataset
node_middleware/augmentData.csv
node_middleware/dataset_doc.json

shared/*.json
shared/*.pkl