// {
//     "plugins": [
//         ["transform-runtime",
//         {
//             "polyfill": false,
//             "regenerator": true
//         }]
//     ]
// }

{
    "presets": [
      ["@babel/preset-env", {
        "useBuiltIns": false,
      }],
    ],
    "plugins": [
      "@babel/plugin-transform-runtime"
    ]
  }